@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}




h1, h2, h3, h4, h5, h6, a {
	color: #fd3f1b;
}

a:hover {
	color: #b11d02;
}

button, .button {
	background-color: #fd3f1b;
	border-color: #b11d02;
}

button:hover, .button:hover {
	background-color: #b11d02;
}

input, fieldset, textarea {
	border-radius: 3px;
}





div#login-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

#login-dropdown-list {
	width: 250px;
	right: 10px;
	left: auto;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #aaa;
	border-radius: 0;
	-webkit-border-radius: 0;
}

#login-buttons a {
	color: #fd3f1b;
	text-decoration: none;
}

#login-buttons a:hover {
	color: #b11d02;
}

div#login-buttons a.login-close-text {
	float: right;
	margin-top: 5px;
}

div#login-buttons .login-button {
	background-image: none;
	background: #fd3f1b;
	border: 1px solid #b11d02;
	border-radius: 3px;
	text-shadow: none;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-webkit-transition: background-color 300ms ease-out;
}

div#login-buttons .login-button:hover {
	background: #b11d02;
}

#login-buttons input[type=email],  #login-buttons input[type=password] {
	border: 1px solid #aaa;
	border-radius: 0;
	-webkit-border-radius: 0;
}




.header {
	position: relative;
}

.header h1 {
	margin: 0;
	font-family: "Lobster";
}


ul.side-menu {
	list-style: none;
	border: 1px solid #aaa;
	border-bottom: none;
}

.side-menu li {
	display: block;
	padding: 15px 20px;
	border-bottom: 1px solid #aaa;
}

.side-menu li:hover, .side-menu li.active {
	padding-left: 10px;
	border-left: 10px solid #fd3f1b;
}

.side-menu li img {
	display: inline-block;
	max-width: 20px;
	margin-right: 10px;
	margin-top: -2px;
}


.row.chat-messages {
	border: 1px solid #aaa;
	margin: 0px 0px 15px !important;
	padding: 5px;
	min-height: 500px;
}

.chat-messages .chat-single-message {
	border: 1px solid blue;
	margin-bottom: 5px;
}

.chat-messages {
	line-height: 1.5;
}

.chat-messages span.name {
	font-weight: bold;
	text-decoration: underline;
}

ul.questions, ul.answers {
	list-style: none;
}

ul.questions .button, ul.answers .button {
	margin-right: 5px;
}

.chat-messages .row {
  margin-bottom: 20px;
}

.chat-messages .avatar img {
  border-radius: 100%;
  border: 1px solid #ddd;
}

.twitter{
	float: left;
}

.twitter iframe{
	width : 518px;
}

.instagram{
	float: left;
	width: 50px;
	padding-left: 10px;
}
