<template name="announcements">
	<div class="announcements">
        <ul>
        {{#each getAnnouncements}}
          <li>{{{msg}}}<span data-livestamp="{{createdAt}}"></span></li>
        {{/each}}
        </ul>
	<div>
</template>

<template name ="new_announcement">
  <div class="new_announcement">
    <form class="new_announcement">
      <input class="msg" placeholder="New Announcement..." />
      <input type="submit" class="button small inline radius add_announcement" />
      <a href="#" class="cancel">Cancel</a>
    </form>
  </div>
</template>
