<template name="announcements">
	<div class="announcements">
        <ul>
        {{#each getAnnouncements}}
            <li>{{{msg}}}</li>
        {{/each}}
        </ul>
	<div>
</template>


<template name ="new_announcement">
    <div class="new_announcement">
        <form class="new_announcement">
            <input class="msg" placeholder="Type in announcement (html permitted)" />
            <input type="submit" class="add_announcement" />
            <a href="#" class="cancel">Cancel</a>
        </form>
    </div>
</template>
