<template name="chat">
<div class="row chat">
  <div class="large-3 columns chat-sidebar">
    <ul class="side-menu">
      <a href="#" id="showDashboard" class="show_dashboard"><li>Dashboard</li></a>
      <a href="#" id="showAnnouncements" class="show_announcements"><li>Announcements</li></a>
      <a href="#" id="showPolls" class="show_polls"><li>Polls</li></a>
      {{#each showRooms}}
        <a href="#" id="{{_id}}" class="show_chatroom"><li>{{title}}</li></a>
      {{/each}}
      <a href="#" id="showCreate" class="show_create"><li>Create New Chat</li></a>
    </ul>
  </div>
  <div class="large-9 columns chat-main-view">
    <div class="row chat-messages">
      <div class="small-12 columns">
        {{#each getMessages}}
          <div class="row">
              <span class="name {{user_id}}" id="{{_id}}">{{email}}:</span>
              <span class="chat-single-message-content">{{msg}}</span>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="row chat-new-message">
      <div class="large-10 columns">
        <input type="text" class="chat-new-message-content">
      </div>
      <div class="large-2 columns">
        <input type="submit" value="Submit" class="button small inline radius expand submit_chat"/> 
      </div>
    </div>
  </div>
</div>
</template>
