<template name="chat">
    <div class="chat">
		<div class="chat-main-view">
			<div class="chat-messages">
                {{#each getMessages}}
            	<div class="chat-single-message">
					<span class="{{user_id}}" id="{{_id}}">{{email}}</span>
					<span class="chat-single-message-content">{{msg}}</span>
				</div>
                {{/each}}
			</div>
			<div class="chat-new-message">
				<textarea class="chat-new-message-content"></textarea>
				<input type="submit" value="Submit" class="submit_chat"/> 
			</div>
		</div>
    </div>
</template>
