<template name="dashboard">
  <div class="dashboard">
    <a href="#" class="new_announcements">Add Announcement</a>
    {{> new_announcement}}
  </div>
</template>

<template name="twitter">
	<div class="twitter">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23hack" data-widget-id="351383370695053314">Tweets about "#hack"</a>
	</div>
</template>

<template name="instagram">
	<div class="instagram">
		<iframe src="http://snapwidget.com/in/?h=aGFja3xpbnwxMDB8Mnw1fHx5ZXN8NXxub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:230px; height: 575px" ></iframe>
	</div>
</template>
