<template name="main">
  {{> header}}

  {{#if currentUser}}
    <div class="row">
      <div class="large-3 columns chat-sidebar">
        <ul class="side-menu">
          <a href="#" id="showDashboard" data-target="dashboard" class="show_dashboard"><li><img src="/home.png">Dashboard</li></a>
          <a href="#" id="showAnnouncements" data-target="announcements" class="show_announcements"><li><img src="/info.png">Announcements</li></a>
          <a href="#" id="showPolls" data-target="polls" class="show_polls"><li><img src="/questions.png">Polls</li></a>
          {{#each activeRooms}}
            <a href="#" class="show_chatroom" data-target="chat" data-room-id="{{_id}}"><li><img src="/chat.png">{{title}}</li></a>
          {{/each}}
          <a href="#" id="showCreate" data-target="newRoom" class="show_create"><li>Create New Chat</li></a>
        </ul>
      </div>

      <div class="large-9 columns chat-main-view main-view">
        <section id="dashboard">
          {{> dashboard}}
          {{> twitter}}
          {{> instagram}}
        </section>
        <section id="announcements">
          {{> announcements}}
        </section>
        <section id="chat">
          {{> chat}}
        </section>
        <section id="polls">
          {{> questions}}
        </section>
        <section id="newRoom">
          {{> newRoom}}
        </section>
      </div>
    </div>

  {{/if}}

  {{> initialSurvey}}
  {{> footer}}
</template>
