<template name="newRoom">
  <form class="new-room">
    <fieldset>
      <legend>Create a new Room</legend>

      <div class="row">
        <div class="large-12 columns">
          <label>What do you want to name it?</label>
          <input type="text" name="title" placeholder="Talking about ...">
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Create it">
        </div>
      </div>
    </div>
  </form>

</template>
